* {
    margin:0;
    padding:0;
    font-family: Arial;
}
/*h1 {font-size:70;}*/
/*h2 {margin: 8px 0;}*/
.SmallButton {
    text-decoration: none;
    cursor:pointer;
    color:#555;
    position: absolute;
    top: 350px;
    left: 10px;
}
.SmallButton:hover {
    color:#000;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 5px;
    text-decoration: none;
    cursor:pointer;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
input[type='checkbox'] {
    margin-right: 1em;
}
#contentDiv {
    position: relative;
    margin: 0 auto;
    width: 750px;
}
#GameContentDiv {
    width: 750px;
    height: 375px;
}
#OptionsDiv {
    position: relative;
    background: rgb(238, 238, 238);
    border: 2px solid rgb(204, 170, 102);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 750px;
    height: 375px;
    background: url(sky2.jpg) no-repeat rgb(204, 170, 102);
    /*display: none;*/
}
canvas {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
}